<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome to the Lemur DB!</h1>
    <br>
    <br>
    <p>Here you can learn all about one of the world's most amazing animals.</p>
    <br>
    <br>
    <a href="/species">Main Species of Lemur:</a>
    <blockquote>
      These are the major lemur species. This list only includes 44 out of the 107 lemurs alive today.
    </blockquote>
  </body>
</html>
