// Place all the styles related to the Lemurs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$fonts: Courier, Baskerville MT;
$fonts_italic: Brush Script MT, Baskerville MT;

body {
  font-family: $fonts;
}

em {
  font-family: $fonts_italic;
}

h1, h2, h3 {
  text-decoration: underline;
}